* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    min-height: 100vh;
    position: relative;
}
/** header */
header {
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #333;
}

header ul {
    display: flex;
    gap: 0 25px;
}

header ul a{
    text-transform: capitalize;
}
/** end header */

/** content **/
aside {
    width: 400px;
    border-right: 1px solid #333;
    height: 100%;
    height: 100vh;
}
#content {
    width: 100%;
    display: flex;
}

#items, .items{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-template-rows:  repeat(auto-fill, minmax(350px, 450px));
    grid-gap: 25px;
    text-align: center;
    justify-content: flex-start;
    max-width: 80%;
}

#items img , .items  img {
    max-width: 70%;
    display: block;
    margin:  0 auto;
    max-height: 100%;
    
}
#items > div, .items > div {
    border: 2px solid #333;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    
}

.editForm {
    width: 50%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.editForm input {
    border: 1px solid #333;
}
.editForm  img{
    width: 150px;
    height: 150px;
}
.pagination  {
    display:flex;
}

.pagination > li {
    margin-bottom: 5px;
  }

  .pagination > li > a,
.pagination > li > span {
  padding: 5px 10px;
}

/** end content */

#register form input {
    border: 1px solid #333;
}
#register {
    width: 500px;
    margin: 0 auto;
}

#register form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

#messageBox {
    position: fixed;
    top:0;
    left: 50%;
    background-color: steelblue;
    padding: 10px;
}

#createItemForm {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}
/** phone **/

@media (max-width: 600px) {
    aside {
        display: none;
    }
  }


